@keyframes intro__text {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.header {
    @apply top-0 left-0 z-50 h-24 w-full flex items-center text-white backdrop-blur-sm fixed;
    &.header__scrolled {
        @apply shadow-md border-b-2 border-dark-color-800 border-opacity-5 transition-transform duration-300 ease-in-out bg-dark-color-900 bg-opacity-60;
    }
    .header__logo {
        font-family: var(--font-mono);
        @apply text-2xl font-bold h-full;
        a {
            @apply flex px-8 h-full;
        }
    }
    .header__nav {
        @apply h-full ml-auto;
    }
}

.hamburger {
    @apply h-full w-auto items-center justify-center pr-4 flex lg:hidden;
    &.show {
        @apply fixed z-50 right-0;
        .hamburger__bars {
            @apply space-y-0;
            div {
                &:nth-child(1) {
                    @apply rotate-45 translate-y-0.5;
                }
                &:nth-child(2) {
                    @apply opacity-0 -translate-x-8;
                }
                &:nth-child(3) {
                    @apply -rotate-45 -translate-y-0.5;
                }
            }
        }
    }
    .hamburger__bars {
        @apply space-y-2 h-6;
        div {
            @apply w-8 h-0.5 bg-white transition-all duration-300;
        }
    }
}

.nav {
    @apply self-end px-12 fixed w-full h-screen bg-dark-color-900 backdrop-blur-sm lg:backdrop-blur-0 bg-opacity-90 top-0 left-0 lg:relative lg:h-full lg:bg-transparent
    -translate-y-full lg:-translate-y-0
    pointer-events-none lg:pointer-events-auto
    opacity-0 lg:opacity-100
    -z-10 lg:z-auto transition-all duration-700;
    &.show {
        @apply 
        opacity-100 -translate-y-0
        pointer-events-auto;
    }
    .nav__list {
        @apply flex items-center flex-col justify-center lg:flex-row gap-4 relative h-full ;

        .nav__item {
            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    animation-delay: #{$i * 0.2}s;
                }
            }
            @apply opacity-0 lg:h-full relative w-full h-auto lg:w-auto;
            animation: intro__text 1s ease-in-out forwards;
            a {
                @apply relative w-full lg:w-auto p-4 lg:p-0 hover:text-amaranth-500 uppercase transition-colors duration-300 ease-in-out lg:h-full flex justify-center items-center text-sm;
                &:hover {
                    &::after {
                        @apply w-full;
                    }
                }	
                &::after {
                    content: '';
                    @apply absolute left-0 w-0 h-[2px] bg-amaranth-500 bottom-0 transition-all duration-300 ease-in-out;
                }
            }
        }
        .nav__item__active {
            a {
                @apply text-amaranth-500;
            }
        }
    }
}

.sidebar {
    @apply relative w-full h-32 ;
    ul {
        @apply flex flex-col items-center justify-center h-full;
        li {
            @apply w-12 h-12 bg-white rounded-full flex justify-center items-center;
        }
    }
    .sidebar__icon {
        @apply text-2xl text-white opacity-70 hover:opacity-100 transition-opacity duration-300 ease-in-out;
    }
}